/* Login.css */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-input {
  margin-bottom: 10px;
  padding: 10px;
  font-size: 16px;
}

.login-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.login-button:hover {
  background-color: #0056b3;
}


.register-go-button{
    text-decoration: none;
    margin-top: 10px;
}